@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220.5 48% 100%;
    --foreground: 220.5 2.4% 10%;
    --card: 220.5 24% 100%;
    --card-foreground: 220.5 2.4% 15%;
    --popover: 220.5 48% 100%;
    --popover-foreground: 220.5 97.4% 10%;
    --primary: 220.5 80.2% 37.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220.5 19.6% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 258.5 19.6% 95%;
    --muted-foreground: 220.5 2.4% 40%;
    --accent: 258.5 19.6% 90%;
    --accent-foreground: 220.5 2.4% 15%;
    --destructive: 0 74% 50%;
    --destructive-foreground: 220.5 2.4% 100%;
    --border: 220.5 24.8% 82%;
    --input: 220.5 24.8% 50%;
    --ring: 220.5 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 221, 48%, 95%;
    --sidebar-foreground: 221, 2%, 9%;
    --sidebar-primary: 221, 80%, 34%;
    --sidebar-primary-foreground: 0, 0%, 100%;
    --sidebar-accent: 259, 20%, 86%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 221, 25%, 78%;
    --sidebar-ring: 211, 98%, 45%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 220.5 29.2% 10%;
    --foreground: 220.5 2.4% 100%;
    --card: 220.5 24% 10%;
    --card-foreground: 220.5 2.4% 100%;
    --popover: 220.5 29.2% 5%;
    --popover-foreground: 220.5 2.4% 100%;
    --primary: 220.5 80.2% 37.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220.5 19.6% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 258.5 19.6% 25%;
    --muted-foreground: 220.5 2.4% 65%;
    --accent: 258.5 19.6% 25%;
    --accent-foreground: 220.5 2.4% 95%;
    --destructive: 0 74% 50%;
    --destructive-foreground: 220.5 2.4% 100%;
    --border: 220.5 24.8% 50%;
    --input: 220.5 24.8% 50%;
    --ring: 220.5 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 221, 29%, 13%;
    --sidebar-foreground: 221, 2%, 100%;
    --sidebar-primary: 221, 80%, 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 259, 20%, 21%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 221, 25%, 48%;
    --sidebar-ring: 211, 98%, 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
